{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
{% endblock %}

{% block content %}
<form class="section" action="{% url 'market:wallpaper' item_id=slug %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Змінити">
</form>
{% endblock %}