{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
{% endblock %}

{% block content %}
<mycustomtag>{{ injected_text }}</mycustomtag>
<div class="header">
    <h1>Шпялєри</h1>
    <div id="counter" class="green" style="color: #6f42c1;">{{ wallpaper_list|length }} wallpapers found</div>
</div>

<div class="catalog">
    {% for wallpaper in wallpaper_list %}
        <div class="section">

            <a class="item" href="{{ wallpaper.get_absolute_url }}">{{wallpaper.name}}</a>
            <img src="{{wallpaper.cover.url}}">
            {% if wallpaper.price %}
            <p>
                Ціна: <span>{{wallpaper.price}}</span><span class="currency">!TEXT!</span>
            </p>
            {% else %}
                <div>Товар продано <span>&#128169</span></div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}